@media screen and (max-width: 1440px) {
    body {
        font-size: 7px;
    }
    header{
        height: 138vh;
    }
    .introduce {
        width: 33%;
        position: absolute;
        top: 30%;
        left: 15%;
    }
    .introduce h2 {
        width: 100%;
    }
    .introduce p {
        width: 85%;
    }
}

@media screen and (max-width: 800px) {
   
}

@media screen and (max-width: 600px) {
  

@media screen and (max-width: 375px) {
   
}